<nav class="navigation flex column centered justified-c" data-state="false">
    <a class="overlay-link flex-child" data-target="login" data-user="anonymous">Login</a>
    <a class="overlay-link flex-child" data-target="register" data-user="anonymous">Register</a>
    <a class="hidden overlay-link flex-child" data-target="profile" data-user="user">Profile</a>
    <a class="hidden overlay-link flex-child" data-target="settings" data-user="all">Settings</a>
    <a class="hidden flex-child logout" data-target="logout" data-user="user"><i class="fa fa-power-off"></i></a>
</nav>
<div class="navigation-close-hitbox"></div>
