<div class="overlay flex" data-id="login" data-state="false">
    <button class="menu-toggle closer active" data-target="login">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <!-- Login -->
    <div id="login" class="login container flex column flex-child stretch centered justified-c ">
        <div class="panel flex column flex-child centered justified-c ">
            <div class="title row flex-child ">
                <h2 class="padded-bottom-xl">Login</h2>
            </div>
            <div class="row flex-child">
                <form id="frm-login" class="flex column">
                    <div class="flex-child justified-c group">
                        <input class="input" type="email" id="login_email" name="login_email">
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">Email</label>
                    </div>
                    <div class="flex-child justified-c group">
                        <input class="input" type="password" id="login_password" name="login_password">
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">Password</label>
                    </div>
                    <button class="btn group">
                        Log in
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
                </form>
            </div>
            <div class="row flex-child text-center padded">
                Need an account? Please <a class="overlay-link" data-target="register" href="#" title="Register for a new account!">Register</a>.<br>
                Forget your <a class="overlay-link" data-target="forgot" href="#" title="Forget your password?">password</a>?
            </div>
        </div>
    </div>
</div>
<div class="overlay flex" data-id="register" data-state="false">
    <button class="menu-toggle closer active" data-target="register">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <!-- Login -->
    <div id="register" class="register container flex column flex-child stretch centered justified-c ">
        <div class="panel flex column flex-child centered justified-c ">
            <div class="title row flex-child ">
                <h2 class="padded-bottom-xl">Register</h2>
            </div>
            <div class="row flex-child">
                <form id="frm-register" class="flex row wrap">
                    <div class="flex-child justified-c group half">
                        <input class="input" type="text" id="register_firstName" name="register_firstName">
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">First Name</label>
                    </div>
                    <div class="flex-child justified-c group half">
                        <input class="input" type="text" id="register_lastName" name="register_lastName">
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">Last Name</label>
                    </div>
                    <div class="flex-child justified-c group">
                        <input class="input" type="email" id="register_email" name="register_email">
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">Email</label>
                    </div>
                    <div class="flex-child justified-c group">
                        <input class="input" type="text" id="register_username" name="register_username">
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">Username</label>
                    </div>
                    <div class="flex-child justified-c group">
                        <input class="input" type="password" id="register_password" name="register_password">
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">Password</label>
                    </div>
                    <button class="btn group">
                        Register
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="overlay flex" data-id="settings" data-state="false">
    <button class="menu-toggle closer active" data-target="settings">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <!-- Login -->
    <div id="settings" class="container flex column flex-child stretch centered justified-c ">
        <div class="panel flex column flex-child centered justified-c ">
            <div class="title row flex-child ">
                <h2 class="padded-bottom-xl">Settings</h2>
            </div>
            <div class="row flex-child">
                <form id="frm-settings" class="flex column">
                    <div class="switch group flex align-stretch">
                        <i class="fa fa-cloud padded-right flex column justified-c"></i>
                        <span class="flex-child stretch padded-right">Weather influence</span>
                        <label class="flex column justified-c">
                            <input type="checkbox" id="setting_weather" type="checkbox" hidden="hidden">
                            <span class="lever"></span>
                        </label>
                    </div>
                    <div class="switch group flex align-stretch">
                        <i class="fa fa-home padded-right flex column justified-c"></i>
                        <span class="flex-child stretch padded-right">Indoor Activities</span>
                        <label class="flex column justified-c">
                            <input type="checkbox" id="setting_indoor" type="checkbox" hidden="hidden">
                            <span class="lever"></span>
                        </label>
                    </div>
                    <div class="switch group flex align-stretch">
                        <i class="fa fa-tree padded-right flex column justified-c"></i>
                        <span class="flex-child stretch padded-right">Outdoor Activities</span>
                        <label class="flex column justified-c">
                            <input type="checkbox" id="setting_outdoor" type="checkbox" hidden="hidden">
                            <span class="lever"></span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="overlay flex" data-id="profile" data-state="false">
    <button class="menu-toggle closer active" data-target="profile">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <!-- Login -->
    <div id="profile" class="profile container flex column flex-child stretch centered justified-c ">
        <div class="panel flex column flex-child centered justified-c ">
            <div class="title row flex-child ">
                <h2 class="padded-bottom-xl">Profile</h2>
            </div>
            <div class="row flex-child">
                <form id="frm-profile" class="flex row wrap">

                    <div class="btn round overlay-link btn-center editToggle">
                        <i class="fa fa-pencil"></i>
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </div>
                    <div class="flex-child justified-c group flex padded-bottom-xl">
                        <input class="input visually-hidden" type="file" id="profile_avatar" name="profile_avatar">
                        <img id="profile_avatar_img" src="/assets/img/avatars/default.png" class="avatar large"/>
                    </div>
                    <div class="flex-child justified-c group half">
                        <input class="input used" type="text" id="profile_firstName" name="profile_firstName" disabled>
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">First Name</label>
                    </div>
                    <div class="flex-child justified-c group half">
                        <input class="input used" type="text" id="profile_lastName" name="profile_lastName" disabled>
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">Last Name</label>
                    </div>
                    <div class="flex-child justified-c group">
                        <input class="input used" type="email" id="profile_email" name="profile_email" disabled>
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">Email</label>
                    </div>
                    <div class="flex-child justified-c group half">
                        <input class="input used" type="text" id="profile_username" name="profile_username" disabled>
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">Username</label>
                    </div>
                    <div class="flex-child justified-c group half">
                        <input class="input used score" type="text" id="profile_score" name="profile_score" disabled>
                        <label class="label">Score</label>
                    </div>

                    <button class="btn round overlay-link btn-center hidden profile-submit">
                        <i class="fa fa-save"></i>
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="overlay flex" data-id="forgot" data-state="false">
    <button class="menu-toggle closer active" data-target="forgot">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <!-- Login -->
    <div id="forgot" class="forgot container flex column flex-child stretch centered justified-c ">
        <div class="panel flex column flex-child centered justified-c ">
            <div class="title row flex-child ">
                <h2 class="padded-bottom">Forgot your password?</h2>
            </div>

            <div class="row flex-child padded-bottom-xl">
                <p>It happens to the best of us. <br> Just enter your email and we'll send you a handy reset link.</p>
            </div>
            <div class="row flex-child">
                <form id="frm-forgot" class="flex column">
                    <div class="flex-child justified-c group padded-bottom">
                        <input class="input used" type="email" id="forgot_email" name="forgot_email">
                        <span class="highlight"></span><span class="bar"></span>
                        <label class="label">Email</label>
                    </div>
                    <button class="btn round overlay-link btn-center forgot-submit">
                        <i class="fa fa-send"></i>
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>