<!-- FIREBASE -->
<script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>
<!-- VENDOR SCRIPTS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" ></script>

<script src="{{ 'js/vendor/toastr.js' | site.baseurl }}"></script>
<script src="{{ 'js/vendor/signals.min.js' | site.baseurl }}"></script>
<script src="{{ 'js/vendor/hasher.min.js' | site.baseurl }}"></script>
<script src="{{ 'js/vendor/hammer.min.js' | site.baseurl }}"></script>
<script src="{{ 'js/vendor/hammer-time.min.js' | site.baseurl }}"></script>

<!-- MY SCRIPTS -->
<script src="{{ 'js/utils.js' | site.baseurl }}"></script>
<script src="{{ 'js/helpers.js' | site.baseurl }}"></script>
<script src="{{ 'js/models.js' | site.baseurl }}"></script>
<script src="{{ 'js/services.js' | site.baseurl }}"></script>
<script src="{{ 'js/main.js' | site.baseurl }}"></script>